body {
  margin: 0;  
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.folio-style {
  margin-left: 100px;
  margin-right: 100px;  
  padding-bottom: 50px;
}

.folio-style-image {
  border-radius: 10px;
  width: 250px;
  height: 250px;
  box-shadow: 0px 0px 3px 1px #ccc;
}

.folio-info-style {
  margin-top: 10px;
  min-height: 100px;
}

.folio-info-title {
  font-size: 24px;
  margin: 0px;
}

.folio-info-sub-title {
  font-size: 16px;
  margin: 0px;
}

.success-msg {
  color: #8c52ff;
  padding: 10px 15px;
}


.err-msg {
  color: #ff5757;
  padding: 10px 15px;
}

IMG.header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 1150px;
  background-color: #d5ed15;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.container {
  text-align: center;
}

h1 {
  font-size: xx-large;
  font-weight: 200;
  font-family: bebas neue, sans-serif
}

hr.class-1 {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  border-top: 3px double #8c8b8b
}

h3 {
  text-align:center;
  margin-right:200px;
  margin-left:200px
}

nav {
  margin-right:175px;
  margin-left:215px
}

/* ABOUT PAGE */

.myPhoto {
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-top: 50px;
  height: 470px;
  width: 450px;
}


/* CONTACT PAGE */

.contactForm {
  display: grid;
  grid-template-columns: 6fr, 4fr, 1fr;
  grid-template-rows: 4fr
}

.icon-box {
  margin-left:175px;
  margin-top:100px

}

.icon-style {
  margin: auto;
  padding:50px;
  color: #8c52ff
}

.vertical-line {
  border-left: 1px solid rgb(182, 182, 182);
  height: 400px;
  position: absolute;
  left: 122%;
  margin-left: -3px;
  top: 0;
}